<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <h1>Meilleur éditeur de texte d'Europe</h1>
    </div>

    <div class="container2">
        <div class="aa">
            <h2>Commencez ici</h2>
        </div>
        <div class="btn2">
            <a href="note" target="_blank" rel="noopener noreferrer"><button type="submit" id="btnh">Accéder à l'éditeur</button></a>
        </div>
    </div>
</body>
</html>