<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="main.css">
    <script src="../static/script/script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Editeur de texte</h1>
    </div>

    <div class="container2">
        <div class="im">
            <img src="160-1071875541.webp" alt="paper">
        </div>
        <div class="impexp">
            <button type="submit" id="imp">Import</button>
            <button type="submit" id="exp">Export</button>
        </div>

        <div class="edit">
            <!-- Met les buttons ici -->
        </div>

        <div class="skibidi">
            <textarea name="text123" id="text123" placeholder="Ecrivez ici"></textarea>
        </div>
        <div class="btn">
            <a href="/">Revenir à la page principale</a>
        </div>

</body>
</html>