  :root {
    --bg-color: hsl(0, 0%, 96%);
    --text-color: black;
    --btn-color: hsl(0, 0%, 96%);
    --bx-s : 3px 3px 30px lightgrey;
    --brd-c : 1px solid whitesmoke;
  }

*, *::before, *::after{
    box-sizing: border-box;
}

.night {
    --bg-color: black;
    /* --text-color: #f5f5f5; */
    --btn-color: #000000de;
    --bx-s : none;
    --brd-c : 1px solid #000000de;
}

body {
    background-color: var(--bg-color);
    /* color: var(--text-color); */
    transition: background-color 0.3s, color 0.3s;
}

.container{
    display: flex;
    padding-bottom: 25px;
}

<<<<<<< Updated upstream
body{
    background-color: hsl(0, 0%, 96%);
    
}
=======

>>>>>>> Stashed changes

h1{
    margin: auto;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
}

h2{
    margin: auto;
    padding-top: .35rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container2{
    border: 2px solid lightblue;
    border-radius: .5rem;
    display: grid;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 50%;
    margin: auto;
    background-color: lightblue;
    justify-content: space-around;
    box-shadow: var(--bx-s);
}

.btn{
    display: flex;
    margin: auto;
    padding-top: 40px;

}

.btn2{
    display: flex;
    margin: auto;
    padding-top: 40px;

}

#btnh:hover{
    background-color: indianred;
    border: indianred;
    color:hsl(0, 0%, 96%);
    transform: scale(1.075);
    transition: transform 0.5s ease;
}

<<<<<<< Updated upstream
=======
#toggleMode{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 6rem;
    
}

.haha{
    display: flex;
    width: 50px;
    margin: auto;
    margin-bottom: 10px;
}


>>>>>>> Stashed changes
button{
    background-color: var(--btn-color);
    border: var(--brd-c);
    border-radius: .5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 39px;
    padding-right: 39px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    color:hsl(187, 54%, 65%)
    
}

.skibidi{
    margin: auto;
    display: flex;
    width: 700px;
    padding-top: 20px;
}

textarea{
    width: 100%;
    height: 600px;
    font-size: 24px;
    resize: none;
}

.titre{
    display: flex;
    
}

.impexp{
    display: flex;
    padding-bottom: 30px;
    justify-content: right;
    column-gap: 25px;
}

#imp{
    padding: 15px;
    background-color: dodgerblue;
    color: wheat;
    border: 2px solid dodgerblue;
    border-radius: .5rem;
    font-size: 15px;
}

#exp{
    padding: 15px;
    background-color: dodgerblue;
    color: wheat;
    border: 2px solid dodgerblue;
    border-radius: .5rem;
    font-size: 15px;
}

.im{
    margin: auto;
}

img{
    width: 150px;
}

a{
    text-decoration: none;
    color: dodgerblue;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color: whitesmoke;
}

.aa{
    display: flex;
    margin: auto;
}